* {
    padding: 0;
    margin: 0;
}

body, html {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.container0 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
/* texte*/
.container1 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.box {
    padding: 20px;
}
.divRed {
    background-color: red;
    display: flex;
    justify-content: center;
    flex-basis: 20%;
}
.divGreen {
    background-color: green;
    display: flex;
    justify-content: center;
    flex-basis: 60%;
}
.divBlue {
    background-color: blue;
    display: flex;
    justify-content: center;
    flex-basis: 20%;
}

/*images*/
.container2 {
    display: flex;
    justify-content: space-around;
    
}

/*formulaire*/

#form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #b9f0f5;
    border-radius: 20px;
    margin-top: 20px;
}
legend {
    margin-left: 10%;
    margin-bottom: 10px;
    font-weight: bold;
}
fieldset {
    margin-top: 10px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.fieldset1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid #ccc;
}
.info {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
}
.info label {
    margin-bottom: 5px;
}
input[type="text"] {
   border: none;
   padding : 10px;
   border-radius: 10px;
}
input[type="text"]:focus {
    outline: 3px solid #ccc;
}
.fieldset2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid #ccc;
}
.newsletter {
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
    margin-top: 10px;
}
#subscribe {
    margin-right: 10px;
}
p {
    margin-left: 10%;
}
.colorOptions {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
}
.color {
    display: flex;
    flex-direction: row-reverse;
}
input[type="radio"] {
    margin-right: 5px;
}
input[type="submit"] {
    margin-left: 10%;
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
}
input[type="submit"]:active {
    margin-left: 10%;
    background-color: transparent;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
}


/* changement couleur form */

body:has(#red:checked) #form {
    background-color: rgb(252, 67, 67);
}
body:has(#green:checked) #form {
    background-color: rgb(67, 252, 67);
}
body:has(#blue:checked) #form {
    background-color: rgb(87, 231, 250);
}
body:has(#yellow:checked) #form {
    background-color: rgb(225, 241, 76);
}

